.about-container {
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
}

.about-container img {
    height: 200px;
    box-shadow: 20px 20px 20px black;
    border-radius: 100px;
}

.about-container p {
    color: #d9d9d9;
}

.about-container h2 {
    color: #ffb6b9;
    font-family: monospace !important;
}
