.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-text h1 {
    color: var(--light-pink);
    font-family: monospace !important;
    padding: 0rem;
    margin: 0rem;
    text-shadow: 0.5rem 0.5rem 0.5rem black;
}
