.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-text h1 {
    color: #ffb6b9;
    font-family: monospace !important;
    padding: 0px;
    margin: 0px;
    text-shadow: 5px 5px 5px black;
}
