.footer-container {
  display: flex;
  min-width: 100%;
  padding: 1rem;
  align-items: center;
  height: 2.5rem;
  font-family: 'Varela Round';
  position: relative;
}

.footer-copyright {
  position: absolute;
  left: 2rem;
  display: flex;
  align-items: center;
}

.footer-copyright p {
  padding: 0px;
  margin: 0px;
  font-size: small;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  cursor: default;
}

.footer-copyright h3 {
  padding: 0px;
  margin: 0px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  cursor: default;
}

.footer-links-container {
  position: absolute;
  right: 2rem;
  display: flex;
  align-items: center;
}

.footer-link {
  margin: 0px 0.7rem 0px;
  cursor: pointer;
}

.footer-link svg {
  transition: transform 0.15s;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.footer-link:hover svg {
  transform: scale(1.3);
}

.footer-link h3 {
  padding: 0px;
  margin: 0px;
  transition: transform 0.15s;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
  cursor: default;
  margin-top: -0.2rem;
}
