.footer-container {
    position: fixed;
    bottom: 0rem;
    display: flex;
    min-width: 100%;
    padding: 1rem;
    align-items: center;
    height: 2.5rem;
}

.footer-copyright {
    position: fixed;
    left: 2rem;
    display: flex;
    align-items: center;
}

.footer-copyright p {
    padding: 0rem;
    margin: 0rem;
    font-size: small;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    cursor: default;
}

.footer-copyright h3 {
    padding: 0rem;
    margin: 0rem;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    cursor: default;
}

.footer-links-container {
    position: fixed;
    right: 2rem;
    display: flex;
    align-items: center;
}

.footer-link {
    margin: 0rem 0.7rem 0rem;
}

.footer-link svg {
    transition: transform 0.15s;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.footer-link:hover svg {
    transform: scale(1.3);
}

.footer-link h3 {
    padding: 0rem;
    margin: 0rem;
    transition: transform 0.15s;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
    cursor: default;
    margin-top: -0.2rem;
}
