.footer-icon-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 10px;
}

.footer-icon-content {
    position: fixed;
    right: 0px;
    padding-right: 25px;
}

.footer-icon-content svg {
    transition: transform .15s;
    cursor: pointer;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.footer-icon-content:hover svg {
    transform: scale(1.3);
}