.footer-icon-container {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 1rem;
}

.footer-icon-content {
    position: fixed;
    right: 0rem;
    padding-right: 2.8rem;
}

.footer-icon-content svg {
    transition: transform 0.15s;
    cursor: pointer;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.footer-icon-content:hover svg {
    transform: scale(1.3);
}
