.header-container {
    position: fixed;
    top: 0px;
    width: 100px;
    display: flex;
}

.header-content {
    position: fixed;
    right: 0px;
    padding-top: 30px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
}

.header-content h3 {
    padding: 0px;
    margin: 0px;
}