.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-text h1 {
    color: var(--light-pink);
    text-shadow: 0.5rem 0.5rem 0.5rem black;
    overflow: hidden;
    font-family: monospace !important;
    border-right: 0.15em solid transparent;
    white-space: nowrap;
    margin: 0rem;
    cursor: default;
    animation: animated-text 3s steps(15, end) 1s 1 normal both,
        animated-cursor 700ms steps(15, end) 1s 5;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animated-text {
    from {
        width: 0rem;
    }
    to {
        width: 26rem;
    }
}

@keyframes animated-cursor {
    from {
        border-right-color: var(--light-gray);
    }
    to {
        border-right-color: transparent;
    }
}

span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: 3;
    transform-origin: 70% 70%;
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(12deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
