.projects-container {
    min-height: 100vh;
    padding-top: 10rem;
    box-sizing: border-box;
    overflow: hidden;
}

.projects-container a {
    text-decoration: none;
}

.projects-container a:hover {
    text-decoration: underline;
}

.projects-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects-title {
    padding-bottom: 10rem;
}

.projectcard-container {
    display: flex;
    justify-content: center;
}

.projectcard-image img {
    border-radius: 5px;
    box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.5);
    margin-right: 4rem;
}

.projectcard-image {
    display: flex;
    align-items: center;
    width: calc(350px + 4rem);
}

.projectcard-container h2,
.projectcard-container h3 {
    font-family: monospace !important;
    color: var(--dark-gray);
    display: inline;
    font-weight: bold;
    margin: 0px;
}

.projectcard-container p {
    display: inline;
    margin: 0px;
    color: var(--dark-gray);
}

.projectcard-buttons {
    display: flex;
    position: absolute;
    bottom: 3rem;
    padding-top: 3rem;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.projectcard-buttons:hover a {
    text-decoration: none;
}

.projectcard-button:hover {
    opacity: 0.87;
}

.projectcard-button {
    width: 8rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
    border-radius: 10rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectcard-button:hover svg,
.arrow-container:hover svg {
    transform: scale(1.15);
}

.arrow-container:hover svg {
    fill: #cecece !important;
}

.projectcard-button svg,
.arrow-container svg {
    transition: transform 0.1s;
}

.arrow-container {
    display: flex;
    cursor: pointer;
}
