.projects-container {
    min-height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
}

.projects-container a {
    text-decoration: none;
}

.projects-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects-title {
    padding-bottom: 100px;
}

.projects-container h1 {
    color: #ffb6b9;
    font-family: monospace !important;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.projectcard-container {
    display: flex;
    justify-content: center;
}

.projectcard-image img {
    width: 350px;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    margin-right: 40px;
}

.projectcard-image {
    display: flex;
    align-items: center;
}

.projectcard-container h2,
.projectcard-container h3 {
    font-family: monospace !important;
    color: #333333;
    display: inline;
    font-weight: bold;
    margin: 0px;
}

.projectcard-container p {
    display: inline;
    margin: 0px;
    color: #333333;
}

.projectcard-buttons {
    display: flex;
    position: absolute;
    bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.projectcard-buttons p {
    font-family: monospace !important;
    margin: 0px;
}

.projectcard-site,
.projectcard-code {
    width: 80px;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin: 10px;
}

.projectcard-site:hover svg,
.projectcard-code:hover svg,
.arrow-container:hover svg {
    transform: scale(1.15);
}

.projectcard-site svg,
.projectcard-code svg,
.arrow-container svg {
    transition: transform 0.1s;
}

.arrow-container {
    display: flex;
    cursor: pointer;
}

/*
.MuiGrid-item {
    margin-bottom: 15px !important;
} */
