$color-gray-dark: #2a2b2e;
$color-pink-dark: #ff7c7c;
$color-pink-light: #ffb6b9;
$color-blue: #8deaff;
$color-yellow: #ffe084;
$color-white-almost: #f5f5f5;
$color-gray-light: #d9d9d9;
$color-gray-medium: #bdbdbd;

.projects-container {
  min-height: 100vh;
  padding-top: 10rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container a {
  text-decoration: none;
}

.projects-container a:hover {
  text-decoration: underline;
}

.projects-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.projects-title {
  padding-bottom: 10rem;
}

.projectcard-container {
  display: flex;
  justify-content: center;
}

.projectcard-image img {
  border-radius: 5px;
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.5);
  margin-right: 4rem;
}

.projectcard-image {
  display: flex;
  align-items: center;
  width: calc(350px + 4rem);
}

.projectcard-container h2,
.projectcard-container h3 {
  font-family: monospace !important;
  color: var(--dark-gray);
  display: inline;
  font-weight: bold;
  margin: 0px;
}

.projectcard-container p {
  display: inline;
  margin: 0px;
  color: var(--dark-gray);
}

.projectcard-buttons {
  display: flex;
  position: absolute;
  bottom: 3rem;
  padding-top: 3rem;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.projectcard-buttons:hover a {
  text-decoration: none;
}

.projectcard-button:hover {
  opacity: 0.87;
}

.projectcard-button {
  width: 8rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectcard-button:hover svg,
.arrow-container:hover svg {
  transform: scale(1.15);
}

.arrow-container:hover svg {
  fill: #cecece !important;
}

.projectcard-button svg,
.arrow-container svg {
  transition: transform 0.1s;
}

.arrow-container {
  display: flex;
  cursor: pointer;
}

.ProjectsCard {
  border: 2px solid $color-white-almost;
  max-width: 700px;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 50px;

  &-left {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 0;
    align-items: center;
    min-width: 330px;

    img {
      border-radius: 5px;
      max-width: 300px;
      max-height: 170px;
    }

    &-info {
      display: grid;
      grid-template-columns: 30% 70%;
      column-gap: 20px;
      padding: 20px 0;

      &-left {
        text-align: right;
        font-family: 'Ubuntu Mono';
        font-size: 20px;
        color: $color-white-almost;
      }

      &-right {
        text-align: left;
        font-family: 'Varela Round';
        font-size: 18px;
      }
    }

    a:hover {
      text-decoration: none;
    }

    &-buttons {
      display: flex;

      &-button {
        width: 75px;
        height: 25px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        margin: 0 10px;

        span {
          padding: 0;
          margin: 0;
          font-style: italic;
          font-size: 15px;
          font-family: 'Ubuntu Mono';
          color: $color-white-almost;
        }
      }
    }
  }

  &-center {
    height: 300px;
    min-width: 1px;
  }

  &-right {
    display: flex;
    flex-direction: column;
    padding: 20px 0 20px 30px;

    &-header {
      font-size: 36px;
      font-family: 'Ubuntu Mono';
      font-weight: bold;
      color: $color-white-almost;
    }

    p {
      font-size: 18px;
      color: $color-gray-light;
      text-align: left;
      font-family: 'Varela Round';
    }
  }
}
