.projects-container {
    min-height: 100vh;
    padding-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}

.projects-container a {
    text-decoration: none;
}

.projects-container a:hover {
    text-decoration: underline;
}

.projects-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projects-title {
    padding-bottom: 100px;
}

.projects-container h1 {
    color: var(--light-pink);
    font-family: monospace !important;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.projectcard-container {
    display: flex;
    justify-content: center;
}

.projectcard-image img {
    width: 350px;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    margin-right: 40px;
}

.projectcard-image {
    display: flex;
    align-items: center;
}

.projectcard-container h2,
.projectcard-container h3 {
    font-family: monospace !important;
    color: var(--dark-gray);
    display: inline;
    font-weight: bold;
    margin: 0px;
}

.projectcard-container p {
    display: inline;
    margin: 0px;
    color: var(--dark-gray);
}

.projectcard-buttons {
    display: flex;
    position: absolute;
    bottom: 30px;
    padding-top: 30px;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.projectcard-buttons p {
    font-family: monospace !important;
    margin: 0px;
}

.projectcard-buttons:hover a {
    text-decoration: none;
}

.projectcard-button:hover {
    opacity: 0.87;
}

.projectcard-button {
    width: 80px;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin: 10px;
}

.projectcard-button:hover svg,
.arrow-container:hover svg {
    transform: scale(1.15);
}

.arrow-container:hover svg {
    fill: #cecece !important;
}

.projectcard-button svg,
.arrow-container svg {
    transition: transform 0.1s;
}

.arrow-container {
    display: flex;
    cursor: pointer;
}
