@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  text-align: center;
  background-color: #333333;
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
  width: 100%;
}

* {
  font-family: 'Varela Round', sans-serif !important;
}